<h2> Your email was changed! </h2>
<div class='your_e'>
	<%= current_user.email %>
</div>
<%= link_to "Home page", user_profile_path(@user) %><br />
<%= link_to "Edit profile", edit_user_profile_path(@user) %>